/********************* Navbar ******************************/
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}
/********************* Header ******************************/

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url('./header2.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  header.masthead h1  {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 20rem;
      padding-bottom: 12rem;
    }
  
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  

  /********************* Home Content ******************************/
  .home-content{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,0,29,1) 54%, rgba(0,0,0,1) 100%);

  }

  .home-title{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
  }

  .movie-home{
    padding-left: 8%;
  }

  .movie-card{
    margin: 1%;
    background-color: black!important;
    color: white;
  }

  .home-img{
    padding-top: 5%;
  }


  .info-title{
    padding-top: 5%;;
  }

  footer{
    background-color: black;
  }

  .footer-text{
    color: white !important;
  }
  
  .logo-heading{
    color: white;
  }
  .login-page{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,0,29,1) 54%, rgba(0,0,0,1) 100%);
    background-size: cover;
    padding-top: 3%;
    background-repeat: no-repeat;
    background-position: top;
    display: -webkit-box;
    display: flex;
    padding-top: 8%;
    padding-left: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-height: 100vh; }
    

    .register-page{
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,0,29,1) 54%, rgba(0,0,0,1) 100%);;
      background-size: cover;
      padding-top: 3%;
      background-repeat: no-repeat;
      background-position: top;
      display: -webkit-box;
      display: flex;
      padding-top: 8%;
      padding-left: 33%;
      padding-bottom: 5%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      min-height: 100vh; }
      
  
  
  .login-box {
      color: #000;
      overflow-x: hidden;
      height: 100%;
      background-image: linear-gradient(to right,#252631, #252631);
      background-repeat: no-repeat;
  
  
  }
  
  input,
  textarea {
      background-color: #F3E5F5;
      border-radius: 50px !important;
      padding: 12px 15px 12px 15px !important;
      width: 100%;
      box-sizing: border-box;
      border: none !important;
      border: 1px solid #F3E5F5 !important;
      font-size: 16px !important;
      color: #000 !important;
      font-weight: 400
  }
  
  input:focus,
  textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid  #252631 !important;
      outline-width: 0;
      font-weight: 400
  }
  
  button:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline-width: 0
  }

  .btn-color {
    border-radius: 50px;
    color: black;
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

  
  .card1 {
      width: 50%;
      
  }

  @media screen and (max-width: 768px) {
    .card1{
      width:90%;
    }

    .login-page{
      padding:20%;
    }

    .register-page{
      padding:20%;
    }
}
  
/********************* Create List ******************************/

.searchbar{
  margin-top: 20%;
}
