.dashNav{
    background-color: #007bc4;
    
}

.logo{
    margin-right:78%;
    padding-left: 1%;
}

.nav-buttons{
  margin-left: 70%;
  padding-right: 2%;
}

@media screen and (max-width: 768px) {
  .nav-buttons{
    margin-left: 50%;
  }
}


.nav-links{
  background-color: #007bc4 !important;
  color: white !important;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url('./header2.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  header.masthead h1  {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 20rem;
      padding-bottom: 12rem;
    }
  
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  
  .home-content{
    background-color: #063b5e;
  }

  .home-title{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
  }

  .movie-home{
    padding-left: 8%;
  }

  .movie-card{
    margin: 1%;
    background-color:#121212 !important;
    color: white;
  }

  .home-img{
    padding-top: 5%;
  }


  .info-title{
    padding-top: 5%;;
  }

  footer{
    background-color: #007bc4;
  }

  .footer-text{
    color: white !important;
  }
  

  .login-page{
    background-color: #063b5e;
    background-size: cover;
    padding-top: 3%;
    background-repeat: no-repeat;
    background-position: top;
    display: -webkit-box;
    display: flex;
    padding-top: 8%;
    padding-left: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-height: 100vh; }
    

    .register-page{
      background-color: #063b5e;
      background-size: cover;
      padding-top: 3%;
      background-repeat: no-repeat;
      background-position: top;
      display: -webkit-box;
      display: flex;
      padding-top: 8%;
      padding-left: 33%;
      padding-bottom: 5%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      min-height: 100vh; }
      
  
  
  .login-box {
      color: #000;
      overflow-x: hidden;
      height: 100%;
      background-image: linear-gradient(to right,#252631, #252631);
      background-repeat: no-repeat;
  
  
  }
  
  input,
  textarea {
      background-color: #F3E5F5;
      border-radius: 50px !important;
      padding: 12px 15px 12px 15px !important;
      width: 100%;
      box-sizing: border-box;
      border: none !important;
      border: 1px solid #F3E5F5 !important;
      font-size: 16px !important;
      color: #000 !important;
      font-weight: 400
  }
  
  input:focus,
  textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid  #252631 !important;
      outline-width: 0;
      font-weight: 400
  }
  
  button:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline-width: 0
  }

  .btn-color {
    border-radius: 50px;
    color: black;
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

  
  .card1 {
      width: 50%;
      
  }

  @media screen and (max-width: 768px) {
    .card1{
      width:90%;
    }

    .login-page{
      padding:20%;
    }

    .register-page{
      padding:20%;
    }
}
  
